# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.log
.pytest_cache/
.coverage

# Envs
.env
.env.*
venv/
.venv/

# OS
.DS_Store
Thumbs.db

# Flask instance folder (if you add one later)
instance/
